html,
body {
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  padding: 0;

  --color-primary: #ec5242;
  --color-secondary: #272a31;
  --color-third: #d3d3d3;
  --fonts: 'lato', arial, helvetica, sans-serif;
}

/* First Section */
.about {
  background-image: url(assets/img/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-first-title {
  font-family: var(--fonts);
  color: var(--color-primary);
  margin-top: 20%;
  text-align: center;
  font-size: 16px;
}

.about-second-title {
  font-family: var(--fonts);
  font-weight: bolder;
  color: #ec5242;
  text-align: center;
  margin-top: -2%;
  font-size: 20px;
}

.info-box-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-brief {
  background-color: white;
  border: lightgrey 1px solid;
  padding: 5%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--color-secondary);
  font-family: var(--fonts);
  font-size: 16px;
}

.help-text {
  text-align: center;
  margin-top: -3%;
  color: var(--color-secondary);
  font-size: 16px;
  font-family: var(--fonts);
  padding: 0 5%;
}

.info-email {
  margin-bottom: 15%;
  text-decoration: none;
  font-family: var(--fonts);
  color: var(--color-secondary);
  font-size: larger;
}

/* Second section */

.about-second {
  background-color: white;
}

.about-second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.com-title {
  display: flex;
  justify-content: center;
  color: var(--color-secondary);
  font-family: var(--fonts);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 15%;
}

.com-title-dash {
  content: '';
  display: flex;
  justify-content: center;
  height: 2px;
  width: 50px;
  background-color: var(--color-primary);
  border-radius: 9px;
  margin-top: -2%;
  margin-bottom: 3%;
}

.com-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fonts);
  color: var(--color-secondary);
  font-size: 16px;
  padding: 0 5%;
}

.com-winner {
  border: 1px solid var(--color-third);
  height: 50%;
  width: 65%;
  display: flex;
  justify-content: center;
}

.com-winner img {
  padding: 5% 0;
  width: 100px;
  height: 100px;
}

.second-end {
  content: '';
  display: flex;
  justify-content: center;
  height: 1px;
  width: 100%;
  background-color: var(--color-third);
  border-radius: 9px;
  margin-top: 10%;
  margin-bottom: 3%;
}

/* Winner history section */
.winner-history {
  margin-bottom: 20%;
}

.win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner-h-title {
  display: flex;
  justify-content: center;
  color: var(--color-secondary);
  font-family: var(--fonts);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 15%;
}

.winner-dash {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 50px;
  background-color: var(--color-primary);
  border-radius: 9px;
  margin-bottom: 3%;
}

.winner-des {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fonts);
  font-size: 16px;
  padding: 0 5%;
  color: var(--color-secondary);
}

.winner-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.winner-specs {
  padding: 0 10%;
  margin-top: 5%;
}

.winner-year {
  text-align: center;
  margin-top: -40%;
  margin-left: 32%;
  font-family: var(--fonts);
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-place {
  text-align: center;
  font-family: var(--fonts);
  color: white;
  position: absolute;
  z-index: 2;
  margin-top: -25%;
  margin-left: 15%;
  line-break: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-images {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-winner {
  position: relative;
}

.overlay-winner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 82, 66, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

/* Responsive Breakpoint 768 */

@media (min-width: 768px) {
  /* First Section */

  .about {
    background-image: url(assets/img/mobile_intro_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .about-first-title {
    margin-top: 2%;
    font-size: 20px;
  }

  .about-second-title {
    margin-top: 2%;
    font-size: 25px;
  }

  .info-box-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .box-brief {
    background-color: white;
    border: lightgrey 1px solid;
    padding: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -4%;
    color: var(--color-secondary);
    font-family: var(--fonts);
    font-size: 16px;
  }

  .help-text {
    text-align: center;
    margin-top: 0%;
    color: var(--color-secondary);
    font-size: 20px;
    font-family: var(--fonts);
  }

  .info-email {
    margin-bottom: 15%;
    text-decoration: none;
    font-family: var(--fonts);
    color: var(--color-secondary);
    font-size: 20px;
  }

  /* Second Section */

  .com-title-dash {
    margin-top: 0%;
  }

  /* Third Section */

  .winner-year {
    margin-left: 34%;
    font-size: 35px;
    margin-top: -35%;
  }

  .winner-place {
    margin-left: 15%;
    margin-top: -20%;
    font-size: 30px;
  }
}

@media (min-width: 769px) {
  .about .header-nav-mobile {
    display: none;
  }

  .about {
    background-image: url(assets/img/main_big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .about-first-title {
    margin-top: 8%;
    font-size: 40px;
  }

  .about-second-title {
    margin-top: 0%;
    font-size: 45px;
    font-weight: 900;
  }

  .info-box-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }

  .box-brief {
    background-color: white;
    border: lightgrey 3px solid;
    padding: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-secondary);
    font-family: var(--fonts);
    font-size: 25px;
  }

  .help-text {
    text-align: center;
    margin-top: 0%;
    color: var(--color-secondary);
    font-size: 30px;
    font-family: var(--fonts);
  }

  .info-email {
    margin-bottom: 15%;
    text-decoration: none;
    font-family: var(--fonts);
    color: var(--color-secondary);
    font-size: 30px;
  }

  /* Second section */

  .about-second {
    background-color: white;
  }

  .about-second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .com-title {
    display: flex;
    justify-content: center;
    color: var(--color-secondary);
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 1%;
  }

  .com-title-dash {
    content: '';
    display: flex;
    justify-content: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .com-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonts);
    color: var(--color-secondary);
    font-size: 30px;
    padding: 0 5%;
  }

  .com-winner {
    border: 1px solid var(--color-third);
    height: 50%;
    width: 65%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .com-winner img {
    padding: 5% 0;
    width: 300px;
    height: 300px;
  }

  .second-end {
    content: '';
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;
    background-color: var(--color-third);
    border-radius: 9px;
    margin-top: 10%;
    margin-bottom: 3%;
  }

  /* Winner history section */
  .winner-history {
    margin-bottom: 10%;
  }

  .win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .winner-h-title {
    display: flex;
    justify-content: center;
    color: var(--color-secondary);
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
  }

  .winner-dash {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-bottom: 3%;
  }

  .winner-des {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonts);
    font-size: 30px;
    padding: 0 5%;
    color: var(--color-secondary);
  }

  .winner-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
  }

  .winner-specs {
    padding: 0 2%;
    margin-top: 5%;
  }

  .winner-year {
    text-align: center;
    margin-top: -16%;
    margin-left: 17%;
    font-family: var(--fonts);
    color: #fff;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-place {
    text-align: center;
    font-family: var(--fonts);
    color: #fff;
    position: absolute;
    z-index: 2;
    margin-top: -10%;
    margin-left: 7%;
    line-break: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  .winner-images {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay-winner {
    position: relative;
  }

  .overlay-winner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 82, 66, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
  }

  .flex-container-partner {
    display: none;
  }

  /* footer section */

  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #272a31;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
  }

  .deskl {
    display: none;
  }

  .logo {
    display: block;
    color: #fff;
    padding: 0%;
    margin: 0%;
  }

  .credits {
    color: #fff;
    padding: 0%;
    margin: 0%;
  }
}
