html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}

:root {
  margin: 0;
  padding: 0;

  --color-primary: #ec5242;
  --color-secondary: #272a31;
  --color-third: #d3d3d3;
  --color-fourth: #fff;
  --color-fifth: rgb(54, 54, 54);
  --fonts: 'lato', arial, helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header navigation section design */
.topbar {
  display: none;
}

.logo {
  text-decoration: none;
  font-family: 'lato', arial, helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-primary);
  margin-left: 3%;
}

.logo h3 {
  font-weight: bolder;
}

.logo-desktop {
  display: none;
}

.header-nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-bar-mobile {
  margin-top: 2%;
}

.menu-bar-close {
  margin-top: 2%;
}

.menu-list-mobile {
  display: none;
}

.desktop-header-nav {
  display: none;
}

/* Styling first section */
.first-section {
  background-image: url(assets/img/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  width: 100%;
  height: 100%;
}

.home-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 6%;
}

.small-title {
  color: var(--color-primary);
  margin-top: 20%;
  font-family: 'lato', arial, helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 2%;
  text-align: left;
}

.big-title {
  font-family: var(--fonts);
  font-weight: 1000;
  font-style: normal;
  font-size: 30px;
  margin-right: 0%;
  margin-top: 0;
  text-align: left;
  background-image: url(assets/img/orange.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-box {
  width: 80%;
  background-color: rgba(246, 246, 246);
  font-family: var(--fonts);
  border: var(--color-fourth) 5px solid;
  font-size: 14px;
  text-align: left;
  padding: 3%;
}

.end-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -15%;
}

.end-title {
  font-family: var(--fonts);
  font-weight: bold;
  text-align: left;
  color: var(--color-secondary);
  opacity: 0.7;
  width: 100%;
}

.end-p {
  font-family: var(--fonts);
  font-weight: bold;
  text-align: left;
  margin-top: -1%;
  color: var(--color-secondary);
  opacity: 0.7;
  width: 100%;
}

/* Gym main programs */

.flex-container,
.flex-container-program {
  margin: 0;
  padding: 0;
}

.flex-container-program {
  background-color: var(--color-secondary);
  background-image: url(/assets/img/gym-m-bg.png);
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.holder {
  display: flex;
  justify-content: center;
  color: var(--color-third);
  font-family: var(--fonts);
  font-size: 18px;
}

.holder h2 {
  margin-top: 18%;
}

.line-mobile {
  content: '';
  display: flex;
  justify-content: center;
  height: 2px;
  width: 70px;
  background-color: var(--color-primary);
  border-radius: 9px;
  margin-top: -2%;
  margin-bottom: 15%;
}

.skill-img img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 50px;
  margin-left: 3%;
  margin-right: 2%;
}

.myself-skillset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 9%;
}

.skill-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.skill-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  height: 90px;
  width: 100%;
  background: rgba(246, 246, 246, 0.1);
  transition: box-shadow 0.4s ease-out;
}

.skill-title {
  color: var(--color-primary);
  font-family: var(--fonts);
  font-size: 14px;
  line-break: auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 20%;
}

.skill-categories p {
  display: flex;
  color: var(--color-fourth);
  font-family: var(--fonts);
  font-size: 12px;
  width: 70%;
  padding-right: 2%;
  padding-left: 8%;
}

.skill-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.promotion h2 {
  text-align: center;
  color: var(--color-primary);
  font-family: var(--fonts);
}

.promo-btn {
  background-color: var(--color-primary);
  color: var(--color-third);
  font-family: var(--fonts);
  padding: 20px 20px;
  border: none;
  font-weight: bold;
  font-size: medium;
}

.promo-btn:hover {
  background-color: var(--color-fourth);
  color: var(--color-primary);
}

.promotion a {
  display: none;
}

/* Gym partner logos */

.flex-container-partner {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.partner {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  color: var(--color-third);
  font-family: var(--fonts);
  font-size: 18px;
}

.line-mobile-partner {
  content: '';
  display: flex;
  justify-content: center;
  height: 2px;
  width: 50px;
  background-color: var(--color-primary);
  border-radius: 9px;
  margin-top: -2%;
  margin-bottom: 15%;
}

.p-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10%;
}

.partner-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.partner-logos .p-logo {
  width: calc((100% / 3) - 10px);
  margin: 5px;
}

/* footer section works */

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.credits {
  color: var(--color-secondary);
  font-family: var(--fonts);
  padding-left: 15%;
  line-break: auto;
}

/* Responsive Breakpoints  425 px */

@media (min-width: 425px) {
  /* Navbar */

  .desktop-header-nav {
    display: none;
  }

  /* Home page first Section */
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8%;
  }

  .small-title {
    color: var(--color-primary);
    margin-right: 0%;
    margin-top: 20%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    font-weight: 1000;
    font-style: normal;
    font-size: 30px;
    margin-right: 0%;
    margin-top: 0;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 80%;
    background-color: rgba(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 3px solid;
    font-size: 14px;
    text-align: left;
    padding: 3%;
  }

  .end-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-right: 5%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    color: var(--color-secondary);
    opacity: 0.7;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
  }

  .logo-desktop {
    display: none;
  }
}

/* Resposnsive breakpoint 768px */

@media (min-width: 426px) and (max-width: 768px) {
  /* Home page first Section */
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: first baseline;
    margin-left: -3%;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .small-title {
    color: var(--color-primary);
    margin-top: 15%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    font-weight: 1000;
    font-style: normal;
    font-size: 35px;
    margin-right: 0%;
    margin-top: 0;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 80%;
    background-color: rgba(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 3px solid;
    font-size: 14px;
    text-align: left;
    padding: 3%;
  }

  .end-box {
    margin-bottom: 5%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 30%;
    color: var(--color-secondary);
    opacity: 0.7;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 25%;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
  }

  /* Second section */

  .skill-categories {
    width: 100%;
    height: 140px;
  }

  .skill-img img {
    width: 80px;
    height: 80px;
  }

  .skill-title {
    font-size: 16px;
    width: 40%;
  }

  .skill-box {
    margin-top: -4%;
    margin-left: 5%;
  }

  .logo-desktop {
    display: none;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 5%;
  }
}

@media (min-width: 1024px) {
  .overlay {
    display: none;
  }

  .logo {
    display: none;
  }

  /* Navbar work */

  .header-nav-mobile {
    display: none;
  }

  .menu-bar-mobile {
    display: none;
  }

  .menu-bar-close {
    display: none;
  }

  .logo-desktop {
    display: block;
    text-decoration: none;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-primary);
    margin-left: 18%;
  }

  .desktop-header-nav {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fourth);
    height: 100px;
  }

  .menu-item a {
    text-decoration: none;
  }

  .header-nav-d {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .header-nav-desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 1em;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 4rem;
  }

  .promotion a {
    text-decoration: underline;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 20px;
    text-underline-position: under;
    display: block;
  }

  .menu-list .menu-item a {
    color: var(--color-secondary);
    font-family: var(--fonts);
  }

  .desktop-header-nav a:hover {
    color: #ec5242;
  }

  /* First section work */

  .first-section {
    background-image: url(assets/img/main_big.png);
    background-size: cover;
    height: 100%;
  }

  .flex-container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .small-title {
    color: var(--color-primary);
    margin-top: 16%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    font-weight: 1000;
    font-style: normal;
    width: 70%;
    font-size: 50px;
    margin-right: 0%;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 45%;
    background-color: rgb(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 5px solid;
    font-size: 16px;
    text-align: left;
    padding: 3%;
    margin-top: -2%;
    margin-left: 3%;
  }

  .end-box {
    width: 100%;
    margin-left: 3%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    color: var(--color-secondary);
    opacity: 0.7;
    font-size: 25px;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .header-nav-desktop {
    margin-left: 20%;
  }

  .reg-btn {
    margin-right: 20%;
  }

  .reg-btn button {
    width: 100px;
    background: none;
    border: var(--color-primary) 3px solid;
    color: var(--color-primary);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    font-family: var(--fonts);
    font-size: 10px;
    font-weight: bold;
  }

  .reg-btn button:hover {
    background-color: var(--color-primary);
    color: var(--color-fourth);
  }

  /* Second Gym programs section */

  .flex-container-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/gym-d-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .holder {
    margin-top: 1%;
    font-size: 35px;
  }

  .line-mobile {
    margin-top: -1%;
    width: 5%;
  }

  .promo-btn {
    display: none;
  }

  .skill-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1024px;
  }

  .myself-skillset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    margin-left: 5%;
  }

  .skill-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }

  .skill-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 180px;
  }

  .skill-img img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50px;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .skill-categories p {
    display: flex;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 16px;
    width: 80%;
    text-align: center;
  }

  .skill-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    margin-top: 5px;
    padding-top: 5%;
    width: 100%;
    text-align: center;
  }

  .skill-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Gym partner logos */

  .flex-container-partner {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .partner {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    color: var(--color-third);
    font-family: var(--fonts);
    font-size: 35px;
  }

  .line-mobile-partner {
    content: '';
    display: flex;
    justify-content: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-top: -1%;
    margin-bottom: 15%;
  }

  .p-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5%;
  }

  .partner-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: -10%;
  }

  .partner-logos .p-logo {
    width: calc((100% / 6) - 10px);
  }

  /* footer section works */
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    height: 20%;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .topbar {
    background-color: var(--color-secondary);
    color: var(--color-fourth);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .topbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
  }

  .links-topbar {
    width: 12%;
  }

  .fb {
    height: 25px;
    width: 25px;
  }

  .twt {
    height: 25px;
    width: 25px;
  }

  .topbar .links-topbar a {
    color: #fff;
    font-family: var(--fonts);
    font-size: 12px;
    padding-left: 3%;
  }

  .topbar .topbar-content .links-topbar a {
    text-decoration: none;
  }
}

@media (min-width: 1440px) {
  .overlay {
    display: none;
  }

  .logo {
    display: none;
  }

  /* Navbar work */

  .header-nav-mobile {
    display: none;
  }

  .menu-bar-mobile {
    display: none;
  }

  .menu-bar-close {
    display: none;
  }

  .logo-desktop {
    display: block;
    text-decoration: none;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-primary);
    margin-left: 18%;
  }

  .desktop-header-nav {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fourth);
    height: 100px;
  }

  .menu-item a {
    text-decoration: none;
  }

  .header-nav-d {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .header-nav-desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 1em;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 4rem;
  }

  .promotion a {
    text-decoration: underline;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 20px;
    text-underline-position: under;
  }

  .menu-list .menu-item a {
    color: var(--color-secondary);
    font-family: var(--fonts);
  }

  .desktop-header-nav a:hover {
    color: #ec5242;
  }

  /* First section work */

  .first-section {
    background-image: url(assets/img/main_big.png);
    background-size: cover;
    height: 100%;
  }

  .flex-container {
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .small-title {
    color: var(--color-primary);
    margin-top: 16%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    width: 70%;
    font-weight: 1000;
    font-style: normal;
    font-size: 60px;
    margin-right: 0%;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 40%;
    background-color: rgb(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 5px solid;
    font-size: 16px;
    text-align: left;
    padding: 3%;
    margin-top: -2%;
    margin-left: 3%;
  }

  .end-box {
    width: 100%;
    margin-left: 3%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    color: var(--color-secondary);
    opacity: 0.7;
    font-size: 25px;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .header-nav-desktop {
    margin-left: 20%;
  }

  .reg-btn {
    margin-right: 20%;
  }

  .reg-btn button {
    width: 100px;
    background: none;
    border: var(--color-primary) 3px solid;
    color: var(--color-primary);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    font-family: var(--fonts);
    font-size: 10px;
    font-weight: bold;
  }

  .reg-btn button:hover {
    background-color: var(--color-primary);
    color: var(--color-fourth);
  }

  /* Second Gym programs section */

  .flex-container-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .holder {
    margin-top: 1%;
    font-size: 35px;
  }

  .line-mobile {
    margin-top: -1%;
    width: 5%;
  }

  .promo-btn {
    display: none;
  }

  .skill-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
  }

  .myself-skillset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    margin-left: 5%;
  }

  .skill-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .skill-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 230px;
    padding: 5px;
  }

  .skill-img img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80px;
    height: 80px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
  }

  .skill-categories p {
    display: flex;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .skill-title {
    font-size: 25px;
  }

  /* Gym partner logos */

  .flex-container-partner {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .partner {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    color: var(--color-third);
    font-family: var(--fonts);
    font-size: 35px;
  }

  .line-mobile-partner {
    content: '';
    display: flex;
    justify-content: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-top: -1%;
    margin-bottom: 15%;
  }

  .p-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5%;
  }

  .partner-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: -10%;
  }

  .partner-logos .p-logo {
    width: calc((100% / 6) - 10px);
  }

  /* footer section works */
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    height: 20%;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .topbar {
    background-color: var(--color-secondary);
    color: var(--color-fourth);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .topbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
  }

  .links-topbar {
    width: 12%;
  }

  .fb {
    height: 25px;
    width: 25px;
  }

  .twt {
    height: 25px;
    width: 25px;
  }

  .topbar .links-topbar a {
    color: #fff;
    font-family: var(--fonts);
    font-size: 12px;
    padding-left: 3%;
  }

  .topbar .topbar-content .links-topbar a {
    text-decoration: none;
  }
}

@media screen and (min-width: 1920px) {
  .overlay {
    display: none;
  }

  .logo {
    display: none;
  }

  /* Navbar work */

  .header-nav-mobile {
    display: none;
  }

  .menu-bar-mobile {
    display: none;
  }

  .menu-bar-close {
    display: none;
  }

  .header-nav-desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 1em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 4rem;
  }

  .promotion a {
    text-decoration: underline;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 20px;
    text-underline-position: under;
  }

  .menu-list .menu-item a {
    color: var(--color-secondary);
    font-family: var(--fonts);
  }

  .desktop-header-nav a:hover {
    color: #ec5242;
  }

  /* First section work */

  .first-section {
    background-image: url(assets/img/main_big.png);
    background-size: cover;
    height: 100%;
  }

  .flex-container {
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .small-title {
    color: var(--color-primary);
    margin-top: 16%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    width: 90%;
    font-weight: 1000;
    font-style: normal;
    font-size: 70px;
    margin-right: 0%;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 35%;
    background-color: rgb(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 5px solid;
    font-size: 16px;
    text-align: left;
    padding: 3%;
    margin-top: -2%;
    margin-left: 3%;
  }

  .end-box {
    width: 100%;
    margin-left: 3%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    color: var(--color-secondary);
    opacity: 0.7;
    font-size: 25px;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 60%;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .header-nav-desktop {
    margin-left: 20%;
  }

  .reg-btn {
    margin-right: 20%;
  }

  .reg-btn button {
    width: 150px;
    background: none;
    border: var(--color-primary) 3px solid;
    color: var(--color-primary);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 45px;
    font-family: var(--fonts);
    font-size: 16px;
    font-weight: bold;
  }

  .reg-btn button:hover {
    background-color: var(--color-primary);
    color: var(--color-fourth);
  }

  /* Second Gym programs section */

  .flex-container-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .holder {
    margin-top: 1%;
    font-size: 35px;
  }

  .line-mobile {
    margin-top: -1%;
    width: 5%;
  }

  .promo-btn {
    display: none;
  }

  .skill-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
  }

  .myself-skillset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    margin-left: 5%;
  }

  .skill-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .skill-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    padding: 10%;
  }

  .skill-img img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90px;
    height: 90px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
  }

  .skill-categories p {
    display: flex;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .skill-title {
    font-size: 25px;
  }

  /* Gym partner logos */

  .flex-container-partner {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .partner {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    color: var(--color-third);
    font-family: var(--fonts);
    font-size: 35px;
  }

  .line-mobile-partner {
    content: '';
    display: flex;
    justify-content: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-top: -1%;
    margin-bottom: 15%;
  }

  .p-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5%;
  }

  .partner-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: -10%;
  }

  .partner-logos .p-logo {
    width: calc((100% / 6) - 10px);
  }

  /* footer section works */
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    height: 20%;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .topbar {
    background-color: var(--color-secondary);
    color: var(--color-fourth);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .topbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
  }

  .links-topbar {
    width: 12%;
  }

  .fb {
    height: 25px;
    width: 25px;
  }

  .twt {
    height: 25px;
    width: 25px;
  }

  .topbar .links-topbar a {
    color: #fff;
    font-family: var(--fonts);
    font-size: 12px;
    padding-left: 3%;
  }

  .topbar .topbar-content .links-topbar a {
    text-decoration: none;
  }
}

@media (min-width: 2560px) {
  .overlay {
    display: none;
  }

  .logo {
    display: none;
  }

  /* Navbar work */

  .header-nav-mobile {
    display: none;
  }

  .menu-bar-mobile {
    display: none;
  }

  .menu-bar-close {
    display: none;
  }

  .logo-desktop {
    display: block;
    text-decoration: none;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-primary);
    margin-left: 18%;
  }

  .desktop-header-nav {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fourth);
    height: 100px;
  }

  .menu-item a {
    text-decoration: none;
  }

  .header-nav-d {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .header-nav-desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 1em;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 4rem;
  }

  .menu-list .menu-item a {
    color: var(--color-secondary);
    font-family: var(--fonts);
  }

  .desktop-header-nav a:hover {
    color: #ec5242;
  }

  /* First section work */

  .first-section {
    background-image: url(assets/img/main_big.png);
    background-size: cover;
    height: 100%;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30%;
  }

  .small-title {
    color: var(--color-primary);
    margin-right: 0%;
    margin-top: 16%;
    font-family: 'lato', arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin-bottom: 2%;
    text-align: left;
  }

  .big-title {
    font-family: var(--fonts);
    font-weight: 1000;
    font-style: normal;
    font-size: 65px;
    margin-right: 0%;
    margin-top: 0;
    text-align: left;
    background-image: url(assets/img/orange.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
  }

  .heading-box {
    width: 50%;
    background-color: rgb(246, 246, 246);
    font-family: var(--fonts);
    border: var(--color-fourth) 5px solid;
    font-size: 26px;
    text-align: left;
    padding: 3%;
    margin-right: 30%;
  }

  .end-title {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 55%;
    color: var(--color-secondary);
    opacity: 0.7;
    font-size: 50px;
  }

  .end-p {
    font-family: var(--fonts);
    font-weight: bold;
    text-align: left;
    margin-right: 55%;
    margin-top: -1%;
    color: var(--color-secondary);
    opacity: 0.7;
    margin-bottom: 5%;
    font-size: 35px;
  }

  .header-nav-desktop {
    margin-left: 20%;
  }

  .reg-btn {
    margin-right: 20%;
  }

  .reg-btn button {
    width: 100%;
    background: none;
    border: var(--color-primary) 3px solid;
    color: var(--color-primary);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    font-family: var(--fonts);
    font-size: 12px;
    font-weight: bold;
  }

  .reg-btn button:hover {
    background-color: var(--color-primary);
    color: var(--color-fourth);
  }

  /* Second Gym programs section */

  .holder {
    margin-top: 1%;
    font-size: 35px;
  }

  .line-mobile {
    margin-top: -1%;
    width: 5%;
  }

  .skill-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
  }

  .myself-skillset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -12%;
    width: 100%;
    height: 100%;
  }

  .skill-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
  }

  .skill-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 10%;
  }

  .skill-img img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100px;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .skill-categories p {
    display: flex;
    color: var(--color-fourth);
    font-family: var(--fonts);
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .skill-title {
    font-size: 35px;
  }

  /* Gym partner logos */

  .flex-container-partner {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .partner {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    color: var(--color-third);
    font-family: var(--fonts);
    font-size: 35px;
  }

  .line-mobile-partner {
    content: '';
    display: flex;
    justify-content: center;
    height: 2px;
    width: 5%;
    background-color: var(--color-primary);
    border-radius: 9px;
    margin-top: -1%;
    margin-bottom: 15%;
  }

  .p-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5%;
  }

  .partner-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: -10%;
  }

  .partner-logos .p-logo {
    width: calc((100% / 6) - 10px);
  }

  /* footer section works */
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    height: 20%;
  }

  .footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .topbar {
    background-color: var(--color-secondary);
    color: var(--color-fourth);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
  }

  .topbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
  }

  .links-topbar {
    width: 12%;
  }

  .fb {
    height: 25px;
    width: 25px;
  }

  .twt {
    height: 25px;
    width: 25px;
  }

  .topbar .links-topbar a {
    color: #fff;
    font-family: var(--fonts);
    font-size: 12px;
    padding-left: 3%;
  }

  .topbar .topbar-content .links-topbar a {
    text-decoration: none;
  }
}
